<h1>Convert <%= @original_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @symbols.each do |a_symbol| %>
    <li>
      <a href="/<%= a_symbol %>">
        Convert 1 <%= a_symbol %> to...
      </a>
    </li>
  <% end %>
</ul>

<ul>
    <li>
      <a href="/<%= @original_currency %>/USD">
        Convert 1 <%= @original_currency %> to USD
      </a>
    </li>
</ul>
